In [2]:

nome = input('seu nome') # Uma string
idade = 27    # Um valor inteiro
altura = 1.75 # Um valor em ponto flutuante

print(nome) # Alisson
print(idade) # 27
print(altura) # 1.71

seu nome alisson

alisson
27
1.75

In [3]:
nome_1, nome_2 = "ana", "gisa"
print(nome_1) # 5
print(nome_2) # 3.1

ana
gisa

In [ ]:
PI = 3.14
GRAVIDADE = 9.8

In [4]:
# Antes da conversão
altura = 1.80
print(type(altura))

# Conversão do tipo
altura = str(altura)

# Depois da conversão
print(type(altura))
print(altura)

<class 'float'>
<class 'str'>
1.8

In [10]:
dia_de_semana = True
feriado = False

print(type(dia_de_semana))
print(type(feriado))

print("hoje é dia de semana: ", dia_de_semana)
print("hoje é feriado: ", dia_de_semana)

<class 'bool'>
<class 'bool'>
hoje é dia de semana:  True
hoje é feriado:  True

In [16]:
alunos = ['Amanda', 'Ana', 'Bruno', 'João']
notas = [10, 8.5, 7.8, 8.0] 

alunos[1]

'Ana'

In [8]:
notas_alunos = {
    "Amanda": 10,
    "Gisa": 10,
    "Ana": 9.5
}
notas_alunos['Gisa']
notas_alunos['Gisa'] = 9.9

In [10]:
notas_alunos['Gisa'] = notas_alunos['Gisa'] - 2
notas_alunos['Gisa']

7.9

In [13]:
notas_alunos['Gisa'] += 4

In [14]:
notas_alunos['Gisa']

9.9

In [15]:
valores = (90, 79, 54, 32, 21, 21, 40,)
pontos = (100, 94.05, 86.8, 62,)

print(valores[0])
print(type(valores))
print(type(pontos))
valores[0] = 10

90
<class 'tuple'>
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [20]:
valores = {90, 79, 54, 32, 21, 21, 40}
pontos = {100, 94.05, 86.8, 62}

print(type(valores))
print(type(pontos))

print(valores)

<class 'set'>
<class 'set'>
{32, 21, 54, 40, 90, 79}

In [24]:
valores = {90, 79, 54, 32, 21, 21, 40}
pontos = {
    'aluno 1': 10, 
    'aluno 2': 8,
    'aluno 2': 8,
}

print(type(valores))
print(type(pontos))

print(pontos)

<class 'set'>
<class 'dict'>
{'aluno 1': 10, 'aluno 2': 8}

In [8]:
a = 5+2j
b = 20+6j

print(type(a))
print(type(b))
print(complex(20, 5))

<class 'complex'>
<class 'complex'>
(20+5j)

In [ ]:
# O Robô Bancário v1.0

print("=== SISTEMA DE INVESTIMENTO AUTOMATIZADO ===")

# Coletando dados (Input: O cliente fala, o robô escuta)
nome = input("Digite o nome do investidor: ")
capital = input("Quanto você vai investir? ") 
taxa = 0.10  # 10% de rendimento (exemplo fixo para facilitar)

# Processamento (O cérebro trabalhando)
# ALERTA DE SPOILER: Isso vai dar erro!
lucro = capital * taxa 

# Saída (Output)
print(f"Olá {nome}, seu lucro será de R$ {lucro}")

## Tarefa: 
Agora que seu robô calcula o lucro, o governo quer a parte dele. Adicione uma variável chamada imposto_renda que desconte 15% do lucro (não do total) e exiba o valor líquido real no final. 
### Desafio: fazer o robô dizer se o lucro foi 'Bom' (True) ou 'Ruim' (False) baseado numa meta de R$ 100,00.

In [ ]:
### imports - codigo pronto

### entradas - input, excel, "nome", SQL, power bi

### processamento - contas, interacoes, for, while, if elif else 
            
### saídas - print, salvar arquivo, insert line, email,